# MongoDB
MONGO_ROOT_USERNAME=your_username
MONGO_ROOT_PASSWORD=your_password
MONGO_INITDB_DATABASE=product-service

# PostgreSQL (main)
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

# Keycloak PostgreSQL
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=your_user
KEYCLOAK_DB_PASSWORD=your_password

# Keycloak Admin
KEYCLOAK_ADMIN_USER=your_admin
KEYCLOAK_ADMIN_PASSWORD=your_password

# Kafka
KAFKA_CLUSTER_ID=your_cluster_id

# Email
MAIL_USERNAME=your_email
MAIL_PASSWORD=your_email_password
