# Maven and Gradle build outputs
target/
build/
!.mvn/wrapper/maven-wrapper.jar

# Exclusions for nested build directories
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac OS
.DS_Store

# Node
/node_modules/
npm-debug.log
yarn-error.log

# Angular
/.angular/cache
/dist
/out-tsc
/coverage
.sass-cache/

# Miscellaneous logs and files
/connect.lock
/libpeerconnection.log
/testem.log
/typings
Thumbs.db

# Docker or temp data directories
/mysql/
/volume-data/
/data/
/docker/tempo/tempo-data/

# Other IDE/editor files
.c9/
*.launch
*.sublime-workspace
.history/

# Environment files (secrets)
.env